<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Christian Tschoepe Resumé</title>
    <base href="/">
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Angular Material style sheet - Google CDN only hosts up to material 1.1.1 as of now -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css">
    
    <!-- Custom Styles -->
    <link rel="stylesheet" href="styles.css" media="all">
    <!-- For Printing -->
    <link rel="stylesheet" href="print.css" media="print">
  </head>
  <body ng-app="ResumeApp" ng-cloak>
    
    <header class="jumbotron mb-0 pb-4 rounded-0">
      <div class="container">
        <h1>
          <span id="myName" class="display-3 hidden-sm-down">Christian A. Tschoepe</span>
          <span id="myName" class="display-4 hidden-md-up">Christian A. Tschoepe</span>
          <a href="" id="printButton" class="hidden-print" title="Print"><md-icon md-svg-src="/img/ic_print_black_24px.svg"> print </md-icon></a>
          <a href="/pdfs/Christian_Tschoepe_Resume.pdf" target="_blank" class="hidden-print" title="PDF"><md-icon md-svg-src="/img/ic_picture_as_pdf_24px.svg"> pdf </md-icon></a>
        </h1>
        <div id="headline" class="row">
          <div id="intro" class="lead col text-justify">
            <p>
              <strong>Software Developer</strong> pursuing full-time Systems Development positions. 
              Top performer in Full-Stack Web Development, hungry to work with Low Level problems 
              and Scaling products to millions of users.
            </p> 

            <p>
              <!-- Some of my recent adventures have been in the world of AWS (<mark>Lambda</mark>, <mark>EC2</mark>, S3, SES), exploring how to make 
              awesome chat bots using natural language processing solutions such as Google’s DialogFlow, and taking 
              courses in some of the fundamentals of business. -->
              Some latest projects include an operating system for IOT devices (<mark>Rust</mark>) and a responsive 
              chat application that can handle many clients (<mark>Angular 4</mark>, <mark>RxJS</mark>, <mark>Redux</mark>, 
              and <mark>WebSockets</mark>).
            </p>
          </div>
          <address class="lead col col-12 col-lg-auto">
            <a href="mailto:tschoepe.christian@gmail.com">tschoepe.christian@gmail.com</a> <br>
            <a href="tel:+358505128740">+358 50 512 8740</a> <br>
            <a href="https://www.github.com/chrants">github.com/chrants</a> <br>
            <a href="https://www.linkedin.com/in/chrants/">linkedin.com/in/chrants</a> 
          </address>
        </div>
      </div>
    </header>
    
    <div id="content">
      
      <!-- SKILLS SECTION -->
      <div class="hidden-md-down hidden-print mb-3">
        <div id="skills-top" class="bg-faded pt-4 pb-4">
          <div class="container-fluid">
            <div ng-controller="SkillsCtrl" layout="row" layout-align="space-between stretch">
              <md-card flex ng-repeat="skillset in skillsets">
                <md-card-title flex="none">
                  <h4 class="text-center mx-auto">{{skillset.short}}</h4>
                </md-card-title>
                <md-divider></md-divider>
                <md-card-content>
                  <resume-chips source="skillset.skills"></resume-chips>
                </md-card-content>
              </md-card>
            </div>
          </div>
        </div>
      </div>
      <!-- -->

      <div class="container">
        
        <resume-section section-title="Professional Experience">
          <md-list ng-controller="ExperienceCtrl">
            <md-list-item ng-repeat="job in jobs" ng-class="{ 'hidden-print': job.hiddenPrint }">
              <md-list-item-text>
                <span class="row">
                  <h5 class="col">{{job.company}} <br><small class="text-muted">{{job.position}}</small><span class="hidden-md-up"><br><small class="text-muted">{{job.startDate}} - {{job.endDate}}</small></span></h5>
                  <h5 class="col col-sm-auto hidden-sm-down">{{job.startDate}} - {{job.endDate}}</h5>
                </span>
                <p ng-if="job.description" class="lead mb-0">{{job.description}}</p>
                <ul class="list-unstyled resume-item-main">
                  <li ng-repeat="responsibility in job.responsibilities">
                    <span ng-bind-html="responsibility"></span>
                  </li>
                </ul>
                <resume-chips source="job.technologies"></resume-chips>
              </md-list-item-text>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </resume-section>

        <div class="page-break"></div>
        
        <resume-section section-title="Skills" class="hidden-lg-up">
          <md-list ng-controller="SkillsCtrl">
            <md-list-item ng-repeat="skillset in skillsets" ng-class="{ 'hidden-print': skillset.hiddenPrint }">
              <md-list-item-text>
                <h5>{{skillset.title}}</h5>
                <resume-chips source="skillset.skills"></resume-chips>
              </md-list-item-text>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </resume-section>
                
        <resume-section section-title="Selected Projects">
          <md-list ng-controller="ProjectsCtrl">
            <md-list-item ng-repeat="project in projects" ng-class="{ 'hidden-print': project.hiddenPrint }">
              <md-list-item-text>
                <h5 ng-if="project.title">{{project.title}}</h5>
                <p class="resume-item-main" ng-bind-html="project.description"></p>
                <resume-chips source="project.technologies"></resume-chips>
              </md-list-item-text>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
              <md-list-item-text>
                <strong>Note: For more projects</strong>, please check my <a href="https://www.github.com/chrants">GitHub</a> or contact me at a contact listed above. Many of my projects are not hosted publicly but are available at request as I may grow them into something bigger one day.
              </md-list-item-text>
            </md-list-item>
          </md-list>
        </resume-section>
        
        <resume-section section-title="References">
          <md-list ng-controller="ReferencesCtrl" class="d-flex flex-lg-row flex-column justify-content-between">
            <md-list-item ng-repeat="job in jobs" ng-if="job.reference" ng-class="{ 'hidden-print': job.hiddenPrint || job.reference.hiddenPrint }">
              <md-list-item-text>
                <address>
                  <strong>{{job.company}}</strong> <br>
                  <span>{{job.reference.name}} - {{job.reference.position}}</span> <br>
                  <a href="{{job.reference.contactType}}{{job.reference.contact}}">{{job.reference.contact}}</a>
                </address>
              </md-list-item-text>
              <md-divider ng-class="hidden-lg-up" ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </resume-section>
        
      </div>
      
    </div>
      
    <footer class="container">
      <span class="float-left">Written in HTML5<span class="hidden-xs-down"> at <a href="https://chrants.github.io/">chrants.github.io</a></span></span>
      <span class="float-right">© Christian Tschoepe 2018</span>
    </footer>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.min.js"></script>

    <!-- Angular Material Library - Google CDN only hosts up to material 1.1.1 as of now -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>

    <!-- Custom JS  -->
    <script src="app.js" type="text/javascript"></script>
  </body>
</html>
