@page {
  margin: 0;
  margin-bottom: 0.4in;
}

html, body {
  overflow: visible !important;
  background-color: white;
}

.container {
  width: 7in;
}

header.jumbotron {
  padding-top: 3rem !important;
  padding-bottom: 0.2rem !important;
}

header h1 {
  margin-bottom: 0.25rem;
}

header h1 #myName {
  font-size: 2.5rem !important;
}

header .lead {
  font-size: 0.9rem;
}

header address br {
  display: none;
}

header address * {
  display: inline-block;
}

header address *:after {
  content: "\00a0\00a0\00a0\00a0";
}

resume-section md-list md-list-item :not(h5) {
  font-size: 0.75rem;
}

resume-section md-list md-list-item h5 {
  font-size: 1rem;
  margin-bottom: 3px;
}

resume-section md-card-title {
  padding-left: 12px !important;
  padding-top: 3px;
  padding-bottom: 1px;
}

resume-section md-card-title .md-headline {
  font-size: 20px;
  margin-bottom: 0px;
}

resume-section md-list md-list-item {
  padding-top: 6px !important;
  padding-bottom: 4px !important;
  padding-left: 12px !important;
  padding-right: 8px !important;
}

resume-section md-list md-list-item .resume-item-main {
  margin-bottom: 5px;
}

md-divider {
  display: none;
}

md-list-item .md-list-item-inner:before, md-list-item:before {
  min-height: 0px;
}

#content .hidden-md-up {
  display: none;
}

#content .hidden-sm-down {
  display: inherit !important;
}

#content .container {
  display: block;
}

#printButton {
  display: none;
}

.container {
  page-break-inside: auto !important;
}

resume-section {
  display: block;
  page-break-after: auto;
}

resume-section md-list-item {
  page-break-after: auto !important;
}

footer {
  position: fixed !important;
  left: 0;
  right: 0;
  bottom: 0 !important;
  font-weight: lighter;
  margin-bottom: 0;
}

.page-break {
  page-break-after: always;
}