html, body {
  overflow: auto;
}

header h1 .display-4 {
  font-size: 2.75rem;
}

resume-section md-card-title {
  padding-left: 24px !important;
}

resume-section md-list {
  padding-top: 0px;
  padding-bottom: 0px;
}

resume-section md-list md-list-item {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  padding-left: 24px !important;
  padding-right: 16px !important;
}

resume-section md-list md-list-item md-list-item-text {
  width: 100%;
}


resume-section md-list md-list-item .resume-item-title {
  font-size: 1.25rem;
  font-weight: 500;
}

resume-section md-list md-list-item .resume-item-main {
  margin-bottom: 0;
  text-align: justify;
}

resume-section md-list md-list-item .resume-item-main .resume-item-main-content {
  margin-bottom: 8px;
  line-height: 1.4;
}

md-list-item:before, md-list-item {
  min-height: 0 !important; 
}

resume-chips {
  margin-top: 4px;
}

resume-chips ul {
  margin-bottom: 0px;
}

resume-section md-card-title, #skills-top md-card-title {
  padding-top: 12px;
  padding-bottom: 4px;
}

.container-fluid {
  max-width: 1186px;
}

#content .container {
  display: flex;
  flex-direction: column;
}

#content .container resume-section[section-title="Professional Experience"] {
  order: 1;
}

#content .container resume-section[section-title="Previous Experience"] {
  order: 2;
}

#content .container resume-section[section-title="Selected Projects"] {
  order: 3;
}

#content .container resume-section[section-title="Skills"] {
  order: 4;
}

#content .container resume-section[section-title="Education"] {
  order: 5;
}

#content .container resume-section[section-title="References"] {
  order: 6;
}

#content address {
  margin: 0;
}

footer {
  overflow: auto;
  font-weight: lighter;
  margin-bottom: 10px;
}

.resume-technology-chip {
  background-color: #fcf8e3;
  padding: .1em;
  margin-right: 2px;
}